#menuPage {
    width: 100%;
}

#menuPage .menuHeading {
    padding: 70px 0;
    text-align: center;
}

#menuPage .menuHeading h1 {
    font-size: 40px;
}

#menuPage .menuHeading p {
    width: 80%;
    margin: 20px auto;
}

#menuPage .topSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 150px;
}

#menuPage .topSection .mealSelect {
    margin: 0 50px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#menuPage .topSection .mealSelect .mealButton {
    padding: 1rem 2.5rem;
    background-color:  #fd9389;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: 0.2s;
}

#menuPage .topSection .mealSelect .mealActive {
    padding: 1rem 2.5rem;
    background-color:  #DB4437;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: 0.2s;
}

/* #menuPage .topSection .buttons {
    display: flex;
    gap: 5px;
}

#menuPage .topSection .buttons button {
    padding: 1rem 2.5rem;
    background-color:  #DB4437;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: 0.2s;
    object-fit: contain;
    object-position: center;
} */


/* css for button inactive to be added later */


#menuPage .bottomSection {
    margin: 20px 100px;
    padding: 20px;
    border-radius: 10px;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 40px;
    flex-wrap: wrap;
    height: auto;
}

/* Food Card Component */
#menuPage .bottomSection .foodCard {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #dddddd;
    border-radius: 20px;
    filter: drop-shadow(1px 1px 0.25rem rgba(128, 128, 128, 0.521));
    margin-top: 20px;
}

#menuPage .bottomSection .foodCard .img {
    object-fit: cover;
    margin: 15px;
    /* padding: 5px; */
    border-radius: 100%;
    overflow: hidden;
}

#menuPage .bottomSection .foodCard .img img {
    margin-bottom: -10px;
    height: auto;
    width: 280px;
}

#menuPage .bottomSection .foodCard .content h1 {
    font-size: 24px;
    margin: 20px 30px;
}

#menuPage .bottomSection .foodCard .content h2 {
    font-size: 28px;
    color: #DB4437;
}

#menuPage .bottomSection .foodCard .content p {
    font-size: 14px;
}




@media screen and (max-width: 600px) {
    #menuPage .bottomSection {
        margin: 20px;
        
    }
}
